.resource-cart{
    height: 34px;
    background-color: white;
    margin: 20px 0px;
    border: 1px solid #082e78;
}
@media (min-width: 768px){
    .resource-cart{
        width: 384px;
    }
}
@media (min-width: 992px){
    .resource-cart{
        float: right;
        width: calc(100% - 549px);
        margin-top: -62px;
        margin-right: 27px;
    }
}
@media (min-width: 1200px){
    .resource-cart{
        width: calc(100% - 600px);
    }
}